

 <div id="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Bread Crumbs -->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2020 Admin Pro by wrappixel.com
        </footer>
        <!-- ============================================================== -->
    </div>
 </div>

 <app-modal-buscador-material></app-modal-buscador-material>
 <app-modal-buscador-material-almacen></app-modal-buscador-material-almacen>
 <app-modal-categoria></app-modal-categoria>
 <app-modal-color></app-modal-color>
 <app-modal-marca></app-modal-marca>
 <app-modal-modelo></app-modal-modelo>
 <app-modal-material></app-modal-material>
 <app-modal-almacen></app-modal-almacen>
 <app-modal-traslado-orden></app-modal-traslado-orden>
 <app-modal-ingreso-almacen></app-modal-ingreso-almacen>
 <app-modal-gasto-material></app-modal-gasto-material>
 <app-modal-semana-personal></app-modal-semana-personal>
 <app-modal-agregar-semana></app-modal-agregar-semana>
