<div class="card-body">
  <form action="#" class="form-horizontal">
      <div class="form-body">
          <h3 class="box-title">Lista documentos</h3>
          <hr class="m-t-0 m-b-40">
          <!--/row-->
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">DNI</label>
                      <div class="col-md-9">
                        <div class="controls">
                          <input type="file" name="file" class="form-control" required="" aria-invalid="false"> <div class="help-block"></div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Curriculo</label>
                      <div class="col-md-9">
                        <div class="controls">
                          <input type="file" name="file" class="form-control" required="" aria-invalid="false"> <div class="help-block"></div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Certificado</label>
                      <div class="col-md-9">
                        <div class="controls">
                          <input type="file" name="file" class="form-control" required="" aria-invalid="false"> <div class="help-block"></div>
                        </div>
                      </div>
                  </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Constancias</label>
                      <div class="col-md-9">
                        <div class="controls">
                          <input type="file" name="file" class="form-control" required="" aria-invalid="false"> <div class="help-block"></div>
                        </div>
                      </div>
                  </div>
              </div>
              <!--/span-->
          </div>
          <!--/row-->
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Contrato</label>
                      <div class="col-md-9">
                        <div class="controls">
                          <input type="file" name="file" class="form-control" required="" aria-invalid="false"> <div class="help-block"></div>
                        </div>
                      </div>
                  </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Licencia de conducir</label>
                      <div class="col-md-9">
                        <div class="controls">
                          <input type="file" name="file" class="form-control" required="" aria-invalid="false"> <div class="help-block"></div>
                        </div>
                      </div>
                  </div>
              </div>
              <!--/span-->
          </div>
          <!--/row-->
          <!--/row-->
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-right col-md-3">Ante. Penales</label>
                    <div class="col-md-9">
                        <div class="controls">
                          <input type="file" name="file" class="form-control" required="" aria-invalid="false"> <div class="help-block"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/span-->
          </div>
      </div>
      <hr>
      <div class="form-actions">
          <div class="row">
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-offset-3 col-md-9">
                          <button type="submit" class="btn btn-success">Submit</button>
                          <button type="button" class="btn btn-inverse">Cancel</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-6"> </div>
          </div>
      </div>
  </form>
</div>
