<div class="fondo-modal-imagen fadeIn fast"
    [class.oculto]="modalModeloService.ocultarModal">

    <div class="modal fade show" 
    id="exampleModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="modalColor"
    style="display: block;">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalModelo">Nuevo modelo</h4>

                </div>
                <div class="modal-body">
                   
                    <h3>Seleccione una imagen</h3>

                </div>
                <div class="modal-footer">
                    <button 
                        type="button" 
                        class="btn btn-default" 
                        data-dismiss="modal"
                        (click)="cerrarModal()">Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>



