<div class="card-body">
  <form action="#" class="form-horizontal">
      <div class="form-body">
          <h3 class="box-title">Info Persona</h3>
          <hr class="m-t-0 m-b-40">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Nombres</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Apellidos</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
              </div>
              <!--/span-->
          </div>
          <!--/row-->
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Genero</label>
                      <div class="col-md-9">
                          <select class="form-control custom-select">
                              <option value="">Masculino</option>
                              <option value="">Femenino</option>
                          </select>
                      </div>
                  </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Fecha de nacimiento</label>
                      <div class="col-md-9">
                          <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                      </div>
                  </div>
              </div>
              <!--/span-->
          </div>
          <!--/row-->
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Cargo</label>
                      <div class="col-md-9">
                          <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                              <option value="Category 1">Operario</option>
                              <option value="Category 2">Peon</option>
                              <option value="Category 3">Ayudante</option>
                              <option value="Category 4">Capataz</option>
                              <option value="Category 4">Supervisor</option>
                              <option value="Category 4">Gerente</option>
                              <option value="Category 4">Administrador</option>
                              <option value="Category 4">Oficial</option>
                              <option value="Category 4">Maestro</option>
                          </select>
                      </div>
                  </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Grado de Instrucción</label>
                      <div class="col-md-9">
                        <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                          <option value="Category 1">Superior</option>
                          <option value="Category 2">Universidad</option>
                          <option value="Category 3">Instituto</option>
                          <option value="Category 4">Secundaria completa</option>
                          <option value="Category 4">Primaria completa</option>
                        </select>
                      </div>
                  </div>
              </div>
              <!--/span-->
          </div>
          <!--/row-->
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="control-label text-right col-md-3">Banco</label>
                  <div class="col-md-9">
                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                      <option value="Category 1">Interbank</option>
                      <option value="Category 2">BCP</option>
                      <option value="Category 3">Scotiabank</option>
                      <option value="Category 4">Pichincha</option>
                      <option value="Category 4">BBVA continental</option>
                    </select>
                  </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="control-label text-right col-md-3">Cuenta bancaria</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
            </div>
            <!--/span-->
        </div>

          <h3 class="box-title">Dirección</h3>
          <hr class="m-t-0 m-b-40">
          <!--/row-->
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Domicilio</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control">
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Distrito</label>
                      <div class="col-md-9">
                        <select class="form-control custom-select">
                          <option>Santa Anita</option>
                          <option>Independencia</option>
                          <option>San Juan Lurigancho</option>
                          <option>La Molina</option>
                          <option>Ate</option>
                          <option>Los Olivos</option>
                        </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Provincia</label>
                      <div class="col-md-9">
                        <select class="form-control custom-select">
                          <option>Lima</option>
                          <option>Callao</option>
                          <option>Junin</option>
                          <option>La Libertad</option>
                          <option>Huanuco</option>
                        </select>
                      </div>
                  </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Departamento</label>
                      <div class="col-md-9">
                        <select class="form-control custom-select">
                          <option>Lima</option>
                          <option>Callao</option>
                          <option>Junin</option>
                          <option>La Libertad</option>
                          <option>Huanuco</option>
                        </select>
                      </div>
                  </div>
              </div>
              <!--/span-->
          </div>
          <!--/row-->
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">Codigo Postal</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control">
                      </div>
                  </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="control-label text-right col-md-3">País</label>
                      <div class="col-md-9">
                          <select class="form-control custom-select">
                              <option>Country 1</option>
                              <option>Country 2</option>
                          </select>
                      </div>
                  </div>
              </div>
              <!--/span-->
          </div>
          <!--/row-->
      </div>
      <hr>
      <div class="form-actions">
          <div class="row">
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-offset-3 col-md-9">
                          <button type="submit" class="btn btn-success">Grabar</button>
                          <button type="button" class="btn btn-inverse">Cancel</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-6"> </div>
          </div>
      </div>
  </form>
</div>
