<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Planilla de Empleados</h4>
              <h6 class="card-subtitle">lista de pagos de todos los trabajadores</h6>
              <div class="row m-t-40">
                  <!-- Column -->
                  <div class="col-md-6 col-lg-3 col-xlg-3">
                    <select class="form-control">
                      <option>2022</option>
                      <option>2021</option>
                      <option>2020</option>
                      <option>2019</option>
                      <option>2018</option>
                    </select>
                  </div>
                  <!-- Column -->
                  <div class="col-md-6 col-lg-3 col-xlg-3">
                    <select class="form-control">
                      <option>Enero</option>
                      <option>Febrero</option>
                      <option>Marzo</option>
                      <option>Abril</option>
                      <option>Mayo</option>
                      <option>Junio</option>
                      <option>Julio</option>
                      <option>Agosto</option>
                      <option>Septiembre</option>
                      <option>Obtubre</option>
                      <option>Noviembre</option>
                      <option>Diciembre</option>
                    </select>
                  </div>
                  <!-- Column -->
                  <div class="col-md-6 col-lg-3 col-xlg-3">
                    <select class="form-control">
                      <option>Semana 1</option>
                      <option>Semana 2</option>
                      <option>Semana 3</option>
                      <option>Semana 4</option>
                      <option>Semana 5</option>
                    </select>
                  </div>
              </div>
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Personal</th>
                        <th>LU / 30</th>
                        <th>MA / 31</th>
                        <th>MI / 1 </th>
                        <th>JU / 2</th>
                        <th>VI / 3</th>
                        <th>SA / 4</th>
                        <th>DO / 5</th>
                        <th>total turnos</th>
                        <th>Sueldo/turno</th>
                        <th>Adelanto</th>
                        <th>Total sueldo</th>
                        <th>Total a Pagar</th>
                        <th>Acciones</th>
                      </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor = "let planilla of planillas">
                        <td></td>
                        <td>{{ planilla.personal.nombres }}</td>
                        <td *ngIf="!planilla.isActualizar">
                          <span class="label label-info" (click)="mostrarModalDetallePlanilla()" >Proyectos: {{ planilla.lunes }} </span> <br> <span class="label label-info" (click)="mostrarModalDetallePlanilla()">Turnos: 2</span>
                        </td>
                        <td *ngIf="planilla.isActualizar">  <input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.lunes">   </td>
                        <td *ngIf="!planilla.isActualizar">{{ planilla.martes }}</td>
                        <td *ngIf="planilla.isActualizar"><input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.martes"></td>
                        <td *ngIf="!planilla.isActualizar">{{ planilla.miercoles }}</td>
                        <td *ngIf="planilla.isActualizar"><input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.miercoles"></td>
                        <td *ngIf="!planilla.isActualizar">{{ planilla.jueves }}</td>
                        <td *ngIf="planilla.isActualizar"><input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.jueves"></td>
                        <td *ngIf="!planilla.isActualizar">{{ planilla.viernes }}</td>
                        <td *ngIf="planilla.isActualizar"><input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.viernes"></td>
                        <td *ngIf="!planilla.isActualizar">{{ planilla.sabado }}</td>
                        <td *ngIf="planilla.isActualizar"><input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.sabado"></td>
                        <td *ngIf="!planilla.isActualizar">{{ planilla.domingo }}</td>
                        <td *ngIf="planilla.isActualizar"><input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.domingo"></td>
                        <td>{{ planilla.totalTurnos }}</td>
                        <td *ngIf="!planilla.isActualizar">{{ planilla.sueldo }}</td>
                        <td *ngIf="planilla.isActualizar"><input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.sueldo"></td>
                        <td *ngIf="!planilla.isActualizar">{{ planilla.adelanto }}</td>
                        <td *ngIf="planilla.isActualizar"><input type="text" class="form-control" #lunes="ngModel" required name="lunes" [(ngModel)]="planilla.adelanto"></td>
                        <td>{{ planilla.totalSueldo }}</td>
                        <td>{{ planilla.totalApagar }}</td>
                        <td>
                          <a *ngIf="!planilla.isActualizar" (click)="mostrarPlanilla(planilla)"
                            data-toggle="tooltip"
                            class="cursor"
                            data-original-title="Actualizar Planilla">
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                          </a>
                          <a *ngIf="planilla.isActualizar" (click)="actualizarPlanilla(planilla)"
                            data-toggle="tooltip"
                            class="cursor"
                            data-original-title="Actualizar Planilla">
                            <i class="fa fa-check text-inverse m-r-10"></i>
                          </a>
                          <a *ngIf="planilla.isActualizar" (click)="CancelarEliminacion(proyecto)"
                            data-toggle="tooltip"
                            class="cursor"
                            data-original-title="Cancelar Planilla">
                            <i class="fa fa-close text-inverse m-r-10"></i>
                          </a>
                          <a *ngIf="!planilla.isActualizar" (click)="eliminarPlanilla(proyecto)"
                            data-toggle="tooltip"
                            class="cursor"
                            data-original-title="Eliminar Planilla">
                            <i class="fa fa-trash text-danger"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>

              </table>
              </div>
          </div>
      </div>
  </div>
</div>
