
<div class="row animated fadeIn fast"
*ngIf="cargando">
<div class="col-12">

    <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando...</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
    </div>

</div>

</div>

<div class="row animated fadeIn fast"
*ngIf="!cargando">
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row animated fadeIn fast">
                <div class="col-6">
                    <h4 class="card-title">Total de proyectos ({{ totalProyectos }}) - {{ desde }}</h4>
                    <h6 class="card-subtitle">Ordenes registrados en mi aplicación</h6>
                </div>
                <div class="col-6">
                    <div style="float:right">
                        <button type="button"
                            class="btn btn-success waves-effect waves-light"
                            (click)="nuevoProyecto()">
                            Nuevo Proyecto
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nº Proyecto</th>
                            <th>Nombre Proyecto</th>
                            <th>Fecha de registro</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de Finalización</th>
                            <th>Estado</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let proyecto of proyectos">
                            <td>{{ proyecto.numeroProyecto }}</td>
                            <td>{{ proyecto.nombre }}</td>
                            <td>{{ proyecto.fechaRegistro }}</td>
                            <td>{{ proyecto.fechaInicio }}</td>
                            <td>{{ proyecto.fechaFinalizacion }}</td>
                            <td>{{ proyecto.estado }}</td>
                            <td>
                              <a (click)="actualizarProyecto(proyecto)"
                                data-toggle="tooltip"
                                class="cursor"
                                data-original-title="Actualizar Proyecto">
                                <i class="fa fa-pencil text-inverse m-r-10"></i>
                              </a>
                            </td>
                            <td>
                              <a (click)="eliminar(proyecto)"
                                data-toggle="tooltip"
                                class="cursor"
                                data-original-title="Eliminar Proyecto">
                                <i class="fa fa-close text-danger"></i>
                              </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</div>
