
<div class="row animated fadeIn fast"
*ngIf="cargando">
<div class="col-12">
    
    <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando...</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>    
        <p class="mb-0">Por favor espere</p>
    </div>

</div>

</div>

<div class="row animated fadeIn fast"
*ngIf="!cargando">
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Total de proveedores ({{ totalProveedores }}) - {{ desde }}</h4>
            <h6 class="card-subtitle">Proveedores registrados en mi aplicación</h6>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Razon Social</th>
                            <th>Contacto</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th class="text-nowrap w100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let proveedor of proveedores">

                            <td>{{ proveedor.razonSocial }}</td>
                            <td>{{ proveedor.contacto }}</td>
                            <td>{{ proveedor.direccion }}</td>
                            <td>{{ proveedor.telefono }}</td>
                            <td class="text-nowrap text-center">
                                <!--
                                <a data-toggle="tooltip" 
                                    data-original-title="Editar"> 
                                    <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                </a>
                                -->

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</div>